.idea
.iws
*.iml
.ipr
**/idea
out
*.xml
*.bat
settings.gradle
gradlew
.gradle/
gradle/

#exclude the entire contents of the folder target
build/*
#except for a specific file:
!build/
/build/*
!build/libs/